<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Reports::report">
                    <resource id="Apsis_One::reports" title="Apsis One">
                        <resource id="Apsis_One::profile" title="Apsis Profile" sortOrder="10"/>
                        <resource id="Apsis_One::event" title="Apsis Event" sortOrder="20"/>
                        <resource id="Apsis_One::abandoned" title="Apsis Abandoned Carts" sortOrder="30"/>
                        <resource id="Apsis_One::queue" title="Apsis Queue Processor" sortOrder="40"/>
                        <resource id="Apsis_One::webhook" title="Apsis Webhooks" sortOrder="50"/>
                        <resource id="Apsis_One::logviewer" title="Log Viewer" sortOrder="60"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Apsis_One::config" title="APSIS Configuration"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
