<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <apsis_one_connect>
            <api>
                <endpoint></endpoint>
                <key></key>
            </api>
        </apsis_one_connect>
        <apsis_one_configuration>
            <profile_sync>
                <order_status>pending,processing,complete</order_status>
            </profile_sync>
            <abandoned_cart>
                <duration>15</duration>
            </abandoned_cart>
            <event_sync>
                <enabled>0</enabled>
            </event_sync>
            <tracking>
                <script></script>
            </tracking>
        </apsis_one_configuration>
        <apsis_one>
            <api>
                <url></url>
                <client_id></client_id>
                <client_secret></client_secret>
                <token></token>
                <token_expiry></token_expiry>
                <section></section>
                <profile_key></profile_key>
            </api>
        </apsis_one>
    </default>
</config>
