<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <apsis_one_accounts>
            <oauth>
                <enabled>0</enabled>
                <id></id>
                <secret></secret>
            </oauth>
        </apsis_one_accounts>
        <apsis_one_abandoned>
            <customers>
                <passcode></passcode>
                <send_after>0</send_after>
            </customers>
        </apsis_one_abandoned>
        <apsis_one_events>
            <events>
                <login>0</login>
                <order>0</order>
                <review>0</review>
                <wishlist>0</wishlist>
                <unsubscribe>0</unsubscribe>
                <subscriber_2_customer>0</subscriber_2_customer>
                <subscriber_not_a_customer>0</subscriber_not_a_customer>
                <cart>0</cart>
            </events>
        </apsis_one_events>
        <apsis_one_mappings>
            <section_topic_mapping>
                <section>0</section>
                <topic>0</topic>
            </section_topic_mapping>
            <subscriber_attribute>
                <subscriber_id>0</subscriber_id>
                <subscriber_email>0</subscriber_email>
                <subscriber_status>0</subscriber_status>
                <website_id>0</website_id>
                <store_id>0</store_id>
                <website_name>0</website_name>
                <store_name>0</store_name>
            </subscriber_attribute>
            <customer_attribute>
                <title>0</title>
                <customer_id>0</customer_id>
                <first_name>0</first_name>
                <last_name>0</last_name>
                <dob>0</dob>
                <gender>0</gender>
                <created_at>0</created_at>
                <last_logged_date>0</last_logged_date>
                <customer_group>0</customer_group>
                <review_count>0</review_count>
                <last_review_date>0</last_review_date>
                <billing_address_1>0</billing_address_1>
                <billing_address_2>0</billing_address_2>
                <billing_state>0</billing_state>
                <billing_country>0</billing_country>
                <billing_postcode>0</billing_postcode>
                <billing_telephone>0</billing_telephone>
                <billing_company>0</billing_company>
                <delivery_address_1>0</delivery_address_1>
                <delivery_address_2>0</delivery_address_2>
                <delivery_city>0</delivery_city>
                <delivery_state>0</delivery_state>
                <delivery_country>0</delivery_country>
                <delivery_postcode>0</delivery_postcode>
                <delivery_telephone>0</delivery_telephone>
                <delivery_company>0</delivery_company>
                <last_order_id>0</last_order_id>
                <last_quote_id>0</last_quote_id>
                <last_increment_id>0</last_increment_id>
                <last_order_date>0</last_order_date>
                <number_of_orders>0</number_of_orders>
                <average_order_value>0</average_order_value>
            </customer_attribute>
        </apsis_one_mappings>
    </default>
</config>
