<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="apsis_abandoned_report_grid_data_source"
                      xsi:type="string">Apsis\One\Ui\Model\ResourceModel\Abandoned\Collection</item>
                <item name="apsis_event_report_grid_data_source"
                      xsi:type="string">Apsis\One\Ui\Model\ResourceModel\Event\Collection</item>
                <item name="apsis_profile_report_grid_data_source"
                      xsi:type="string">Apsis\One\Ui\Model\ResourceModel\Profile\Collection</item>
                <item name="apsis_profile_batch_report_grid_data_source"
                      xsi:type="string">Apsis\One\Ui\Model\ResourceModel\ProfileBatch\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Apsis\One\Logger\Handler\ApsisLogHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Apsis\One\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">apsis</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="apsis_log_handler" xsi:type="object">Apsis\One\Logger\Handler\ApsisLogHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Newsletter\Controller\Manage\Index">
        <plugin name="apsis_newsletter_index_plugin" type="Apsis\One\Plugin\Customer\NewsletterManageIndexPlugin" />
    </type>
    <type name="Magento\Customer\Model\Logger">
        <plugin name="apsis_logger_log_plugin" type="Apsis\One\Plugin\Customer\LoggerPlugin" />
    </type>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrf_validator_skip" type="Apsis\One\Plugin\Action\CsrfValidatorSkip" />
    </type>
    <preference for="Magento\Config\Model\Config\Structure\SearchInterface"
                type="Magento\Config\Model\Config\Structure" />
    <preference for="Magento\Sales\Api\Data\OrderSearchResultInterface"
                type="Magento\Sales\Model\ResourceModel\Order\Collection" />
    <preference for="Magento\Framework\Filesystem\Directory\WriteInterface"
                type="Magento\Framework\Filesystem\Directory\Write" />
    <preference for="Magento\Framework\Filesystem\DriverInterface"
                type="Magento\Framework\Filesystem\Driver\File" />
    <preference for="Magento\Store\Model\StoreManagerInterface"
                type="Magento\Store\Model\StoreManager" />
    <preference for="Magento\Quote\Api\Data\CartInterface"
                type="Magento\Quote\Model\Quote" />
    <preference for="Magento\Framework\Encryption\EncryptorInterface"
                type="Magento\Framework\Encryption\Encryptor" />
    <preference for="Magento\Framework\App\Config\Storage\WriterInterface"
                type="Magento\Framework\App\Config\Storage\Writer" />
    <preference for="Magento\Framework\Stdlib\DateTime\TimezoneInterface"
                type="Magento\Framework\Stdlib\DateTime\Timezone" />
    <preference for="Magento\Quote\Api\CartTotalRepositoryInterface"
                type="Magento\Quote\Model\Cart\CartTotalRepository" />
    <preference for="Magento\Catalog\Api\ProductRepositoryInterface"
                type="Magento\Catalog\Model\ProductRepository" />
    <preference for="Magento\Customer\Api\CustomerRepositoryInterface"
                type="Magento\Customer\Model\ResourceModel\CustomerRepository" />
    <preference for="Magento\Framework\App\Config\ScopeConfigInterface"
                type="Magento\Framework\App\Config" />
</config>
