<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Apsis\One\Ui\Model\ResourceModel\Abandoned\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">apsis_abandoned</argument>
            <argument name="resourceModel" xsi:type="string">Apsis\One\Model\ResourceModel\Abandoned</argument>
        </arguments>
    </virtualType>
    <virtualType name="Apsis\One\Ui\Model\ResourceModel\Event\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">apsis_event</argument>
            <argument name="resourceModel" xsi:type="string">Apsis\One\Model\ResourceModel\Event</argument>
        </arguments>
    </virtualType>
    <virtualType name="Apsis\One\Ui\Model\ResourceModel\Profile\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">apsis_profile</argument>
            <argument name="resourceModel" xsi:type="string">Apsis\One\Model\ResourceModel\Profile</argument>
        </arguments>
    </virtualType>
    <virtualType name="Apsis\One\Ui\Model\ResourceModel\Queue\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">apsis_queue</argument>
            <argument name="resourceModel" xsi:type="string">Apsis\One\Model\ResourceModel\Queue</argument>
        </arguments>
    </virtualType>
    <virtualType name="Apsis\One\Ui\Model\ResourceModel\Webhook\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">apsis_webhook</argument>
            <argument name="resourceModel" xsi:type="string">Apsis\One\Model\ResourceModel\Webhook</argument>
        </arguments>
    </virtualType>
</config>
