<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Apsis_One::reports" title="Apsis One" module="Apsis_One" sortOrder="100"
             parent="Magento_Reports::report" resource="Apsis_One::reports"/>
        <add id="Apsis_One::profile" title="Profiles Grid" module="Apsis_One" sortOrder="110"
             action="apsis_one/profile" resource="Apsis_One::profile" parent="Apsis_One::reports"/>
        <add id="Apsis_One::event" title="Events Grid" module="Apsis_One" sortOrder="120"
             action="apsis_one/event" resource="Apsis_One::event" parent="Apsis_One::reports"/>
        <add id="Apsis_One::abandoned" title="Abandoned Carts" module="Apsis_One" sortOrder="130"
             action="apsis_one/abandoned" resource="Apsis_One::abandoned" parent="Apsis_One::reports"/>
        <add id="Apsis_One::queue" title="Queue Processor" module="Apsis_One" sortOrder="140"
             action="apsis_one/queue" resource="Apsis_One::queue" parent="Apsis_One::reports"/>
        <add id="Apsis_One::webhook" title="Webhooks" module="Apsis_One" sortOrder="150"
             action="apsis_one/webhook" resource="Apsis_One::webhook" parent="Apsis_One::reports"/>
        <add id="Apsis_One::logviewer" title="Logs" module="Apsis_One" sortOrder="160"
             action="apsis_one/logviewer" resource="Apsis_One::logviewer" parent="Apsis_One::reports"/>
    </menu>
</config>
