<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="apsis_one" translate="label" sortOrder="10">
            <label>APSIS One</label>
        </tab>
        <section id="apsis_one_connect" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>API Details</label>
            <tab>apsis_one</tab>
            <resource>Apsis_One::config</resource>
            <group id="info" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <frontend_model>Apsis\One\Block\Adminhtml\Ui\InfoGroupBlock</frontend_model>
            </group>
            <group id="api" translate="label" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>API</label>
                <attribute type="expanded">1</attribute>
                <field id="endpoint" translate="label" sortOrder="10" type="text" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Endpoint</label>
                    <frontend_model>Apsis\One\Block\Adminhtml\Config\EndpointGeneratorBlock</frontend_model>
                    <backend_model>Apsis\One\Model\Adminhtml\Config\Backend\InvalidateDataSaveBackendModel</backend_model>
                </field>
                <field id="key" translate="label" sortOrder="20" type="text" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Key</label>
                    <frontend_model>Apsis\One\Block\Adminhtml\Config\SharedKeyBlock</frontend_model>
                    <backend_model>Apsis\One\Model\Adminhtml\Config\Backend\InvalidateDataSaveEncryptedBackendModel</backend_model>
                </field>
            </group>
            <group id="abandoned_cart" translate="label" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Abandoned Cart</label>
                <attribute type="expanded">1</attribute>
                <field id="content_endpoint" translate="label" sortOrder="10" type="text" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Cart Content Endpoint</label>
                    <frontend_model>Apsis\One\Block\Adminhtml\Config\EndpointGeneratorBlock</frontend_model>
                    <backend_model>Apsis\One\Model\Adminhtml\Config\Backend\InvalidateDataSaveBackendModel</backend_model>
                </field>
                <field id="session_endpoint" translate="label" sortOrder="20" type="text" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Recreate Cart Endpoint</label>
                    <frontend_model>Apsis\One\Block\Adminhtml\Config\EndpointGeneratorBlock</frontend_model>
                    <backend_model>Apsis\One\Model\Adminhtml\Config\Backend\InvalidateDataSaveBackendModel</backend_model>
                </field>
            </group>
        </section>
        <section id="apsis_one_configuration" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>apsis_one</tab>
            <resource>Apsis_One::config</resource>
            <group id="info" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <frontend_model>Apsis\One\Block\Adminhtml\Ui\InfoGroupBlock</frontend_model>
            </group>
            <group id="event_sync" translate="label" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Events</label>
                <attribute type="expanded">1</attribute>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Sync Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="historical" translate="label" type="select" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Sync Historical Events</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <source_model>Apsis\One\Model\Adminhtml\Config\Source\System\HistoricalEventDurationSourceModel</source_model>
                    <backend_model>Apsis\One\Model\Adminhtml\Config\Backend\HistoricalEventBackendModel</backend_model>
                    <frontend_model>Apsis\One\Block\Adminhtml\Config\HistoricalEventDurationSelect</frontend_model>
                    <comment model="Apsis\One\Model\Adminhtml\Config\Backend\HistoricalEventComment"/>
                </field>
            </group>
            <group id="abandoned_cart" translate="label" sortOrder="30" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Abandoned Cart</label>
                <attribute type="expanded">1</attribute>
                <field id="duration" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Abandoned After</label>
                    <source_model>Apsis\One\Model\Adminhtml\Config\Source\System\IntervalMinuteSourceModel</source_model>
                    <comment><![CDATA[Register cart as abandoned after it has been inactive for selected amount of time.]]></comment>
                </field>
            </group>
            <group id="tracking" translate="label" sortOrder="40" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Tracking</label>
                <attribute type="expanded">1</attribute>
                <field id="script" translate="label" type="textarea" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Tracking Script</label>
                    <comment><![CDATA[Feature is disabled if left empty.]]></comment>
                </field>
            </group>
        </section>
        <section id="apsis_one_resource" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Resources</label>
            <tab>apsis_one</tab>
            <resource>Apsis_One::config</resource>
            <group id="resource" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Integration</label>
                <attribute type="expanded">1</attribute>
                <field id="webhooks" translate="label" sortOrder="10" type="button" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Installed Webhooks</label>
                    <frontend_model>Apsis\One\Block\Adminhtml\Ui\WebhookButton</frontend_model>
                </field>
                <field id="configs" translate="label" sortOrder="20" type="button" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Installed Configs</label>
                    <frontend_model>Apsis\One\Block\Adminhtml\Ui\ConfigButton</frontend_model>
                </field>
                <field id="queue" translate="label" sortOrder="30" type="button" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Profile Updates</label>
                    <frontend_model>Apsis\One\Block\Adminhtml\Ui\QueueButton</frontend_model>
                </field>
            </group>
            <group id="developer" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Developer</label>
                <attribute type="expanded">1</attribute>
                <field id="logs" translate="label" sortOrder="10" type="button" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Integration Logs</label>
                    <frontend_model>Apsis\One\Block\Adminhtml\Ui\LogsButton</frontend_model>
                </field>
                <field id="reset" translate="label" sortOrder="20" type="button" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reset Module</label>
                    <frontend_model>Apsis\One\Block\Adminhtml\Ui\ResetButton</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
