<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="apsis_one" translate="label" sortOrder="500">
            <label>APSIS One</label>
        </tab>
        <section id="apsis_one_accounts" translate="label" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
            <class>separator-top</class>
            <label>Accounts</label>
            <tab>apsis_one</tab>
            <resource>Apsis_One::config</resource>
            <group id="subscription" translate="label" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Subscription Update</label>
                <attribute type="expanded">1</attribute>
                <field id="endpoint" translate="label" sortOrder="10" type="text" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Endpoint</label>
                    <frontend_model>Apsis\One\Block\Adminhtml\Config\Link</frontend_model>
                    <backend_model>Apsis\One\Model\Config\Backend\InvalidateDataSave</backend_model>
                </field>
                <field id="key" translate="label" sortOrder="20" type="text" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Key</label>
                    <frontend_model>Apsis\One\Block\Adminhtml\Config\Key</frontend_model>
                    <backend_model>Apsis\One\Model\Config\Backend\InvalidateDataSaveEncrypted</backend_model>
                </field>
            </group>
        </section>
        <section id="apsis_one_configuration" translate="label" sortOrder="50" showInDefault="0" showInWebsite="0" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>apsis_one</tab>
            <resource>Apsis_One::config</resource>
            <group id="profile_sync" translate="label" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Profile Sync</label>
                <attribute type="expanded">1</attribute>
                <field id="order_status" translate="comment label" sortOrder="10" type="multiselect" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Sales Attributes Calculation With Order Status</label>
                    <source_model>Apsis\One\Model\Config\Source\System\OrderStatus</source_model>
                    <comment><![CDATA[Select multiple statuses by pressing Ctrl button while selecting]]></comment>
                </field>
            </group>
            <group id="event_sync" translate="label" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Event Sync</label>
                <attribute type="expanded">1</attribute>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="tracking" translate="label" sortOrder="30" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Tracking</label>
                <attribute type="expanded">1</attribute>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="script" translate="label" type="textarea" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Tracking Script</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
